REACT_APP_SPOTIFY_CLIENT_ID=688c788429e44c29bedb5169d098a980
SPOTIFY_CLIENT_ID=688c788429e44c29bedb5169d098a980
SPOTIFY_CLIENT_SECRET=PASTE_YOUR_CLIENT_SECRET_HERE
SPOTIFY_REDIRECT_URI=https://sacred-path.netlify.app/callback
